PyGithub
coverage
pycrypto ; platform_system != "Windows"
mock
gym
opencv-python<=4.2.0.32
visualdl ; python_version>="3.5"
paddle2onnx>=0.4
scipy>=1.10.0rc1 ; python_version<"3.5"
scipy<=1.10.0rc1 ; python_version=="3.5"
scipy ; python_version>"3.5"
prettytable
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
